---
import ReactIcon from './icons/ReactIcon.astro'
import JavaScriptIcon from './icons/JavaScriptIcon.astro'
import NextJSIcon from './icons/NextJSIcon.astro'
import TailwindIcon from './icons/TailwindIcon.astro'
import VimeoIcon from "./icons/VimeoIcon.astro"
import CSSIcon from "./icons/CSSIcon.astro"
import TypescriptIcon from "./icons/TypescriptIcon.astro"
import HTMLIcon from "./icons/HTMLIcon.astro"
import MayaIcon from "./icons/MayaIcon.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"


const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-white/10 text-white border border-white/10",
    icon: NextJSIcon
  },
  REACT: {
    name: "React",
    icon: ReactIcon
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScriptIcon
  },
  TAILWIND: {
    name: "Tailwind CSS",
    icon: TailwindIcon
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: TypescriptIcon
  },
  CSS: {
    name: "CSS",
    icon: CSSIcon
  },
  HTML: {
    name: "HTML",
    icon: HTMLIcon
  },
  MAYA: {
    name: "Maya",
    icon: MayaIcon
  },
}



const PROJECTS = [
  {
    title: "3D Animation Reel",
    description: "Responsible only for the animation. Most recent projects: The Wingfeather Saga Season Two, Friend Z Space, Me & Winnie The Pooh.",
    vimeo: "https://vimeo.com/883058929",
    video: "/AnimationReel.mp4",
    link: "https://drive.google.com/file/d/10cp0iNlNT4vpnVTh0D-E2CpMZe56Gppq/view?usp=sharing",
    tags: [TAGS.MAYA]
  },  
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ video, title, description, tags, vimeo, link }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:shadow-2xl lg:border dark:lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <video class="w-full h-56 sm:h-full" controls>
        <source src={video} type="video/mp4">
      </video>
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-4xl font-bold dark:text-[#fafafa] text-[#030303d9] mt-2">
      {title}
    </h3>

    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs bg-white/10 text-[#030303d9] dark:text-[#fafafa] py-1 px-2 border border-gray-950/20 dark:border-white/10 font-semibold`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 dark:text-[#fafafa] text-[#030303d9] text-sm lg:text-lg text-pretty">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {vimeo && (
            <LinkButton href={vimeo}>
              <VimeoIcon class="size-6" />
              Demo Reel             
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Resume / CV
            </LinkButton>
          )}
         
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>

